 body {
  font-family: 'PT Sans', sans-serif;
  line-height: 26px;
  text-transform: uppercase;
  margin: 0 auto;
  background-color: #f1f1f1;
}

a {
  text-decoration: none;
}

.website {
  background-color: #ffffff;
  margin: 0 auto;
  width: 1280px;
  position: relative;
  z-index: 0;
}

.navigation-head {
  display: flex;
  flex-wrap: wrap;
  background-color: #ffffff;
  height: 56px;
  margin-left: 40px;
}

.navigation-head ul {
  margin-left: 32px;
}

.site-navigation a {
  color: #000000;
  font-weight: 700;
  font-size: 14px;
  line-height: 26px;
}

.site-navigation li {
  display: inline-block;
  list-style: none;
}

.site-navigation li:nth-child(1) {
  margin-right: 144px;
}

.site-navigation li:nth-child(2) {
  margin-right: 385px;
}

.site-navigation li:nth-child(3) {
margin-right: 160px;
}

.site-navigation a:hover {
  color: #81b3d2;
}

.site-navigation a:focus {
  color: rgba(0, 0, 0, 0.302);
}

.site-navigation a:active {
  color: #766357;
}

.main-sedona-logo {
position: absolute;
width: 140px;
left: 50%;
z-index: 10;
margin-left: -70px;
}

.visually-hidden {
  display: none;
}

.polygon {
  margin-bottom: 724px;
  position: absolute;
  top: -15px;
  z-index: -2;
}

.polygon img {
  margin-right: auto;
  margin-left: 40px;
}

.logo-polygon {
  position: absolute;
  top: 130px;
  left: 412px;
}

.first-title {
  position: absolute;
  text-align: center;
  width: 440px;
  top: 602px;
  left: 420px;
  font-size: 21px;
  font-weight: 700;
}

.promo {
  position: absolute;
  width: 510px;
  text-align: center;
  top: 690px;
  left: 383px;
  font-size: 14px;
  font-weight: 400;
  white-space: nowrap;
}

.benefits {
  list-style: none;
  margin-top: 724px;
}

.first-benefits {
  display: flex;
}

.text {
  background-color: #81b3d2;
  color: #ffffff;
  width: 400px;
  height: 256px;
}

.title-benefits {
  font-size: 21px;
  line-height: 21px;
  width: 160px;
  margin-left: 120px;
  margin-right: 140px;
  text-align: center;
  margin-top: 45px;
}

.number-benefits {
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}

.text-benefits {
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  width: 306px;
  margin-left: 50px;
  margin-top: 20px;
  line-height: 21px;
}

.line-benefits {
  display: inline-flex;
  text-align: center;
  justify-content: center;
  flex-direction: row;
  width: 1200px;
  min-height: 330px;
  margin-left: 65px;
}

.column {
  padding-right: 115px;
}

.icon {
  margin-top: 60px;
}

.line-title {
  font-size: 21px;
}

.line-text {
  font-size: 14px;
  line-height: 21px;
  width: 300px;
  margin-top: 10px;
}

.second-benefits {
  display: flex;
  width: 1200px;
}

.final-benefits {
  display: flex;
  flex-direction: row;
  background-color: #eeeeee;
  min-height: 256px;
  width: 1200px;
}

.final-benefits .text-benefits {
  width: 245px;
  text-align: center;
}

.pre-form {
  display: block;
  width: 650px;
  margin: 0 auto;
  }

.second-title {
  display: block;
  font-size: 30px;
  font-weight: 700;
  margin-left: 175px;
  margin-right: auto;
  margin-top: 55px;
}

.second-promo {
  font-size: 14px;
  text-align: center;
  width: 638px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 28px;

}

.map img {
  display: block;
  margin-left: 40px;
  margin-top: 130px;
}

.search {
  position: absolute;
  top: 2028px;
  left: -7px;
}

.hide-button {
  display: flex;
  font-family: 'PT Sans', sans-serif;
  font-size: 21px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  justify-content: center;
  color: #ffffff;
  background-color: #766357;
  width: 568px;
  height: 86px;
  border: none;
  margin-left: 363px;
  margin-top: 55px;
}


.hide-button:hover {
  background-color: #604e43;
}

.hide-button:active {
  background-color: #503e33;
  color: #857871;
}

.search-form {
  display: none;
  border: 1px solid #eeeeee;
  width: 568px;
  height: 395px;
  margin-left: 363px;
  background-color: #ffffff;
}

.show {
  display: block;
}

label[for="arrive"] {
  font-size: 14px;
  font-weight: 700;
  width: 155px;
}

.arrive {
  display: flex;
  margin-top: 62px;
  margin-left: 55px;
  margin-right: auto;
}

.arrive input[type="text"] {
  position: relative;
  font-size: 14px;
  font-weight: 700;
  font-family: inherit;
  text-transform: uppercase;
  border: 1px solid #eeeeee;
  width: 326px;
  height: 32px;
  background-color: #eeeeee;
  left: -35px;
  top: -5px;
  padding-left: 10px;
}

.arrive svg {
  position: absolute;
  left: 845px;
}
.arrive svg:hover {
  fill: #000000;
}

.arrive svg:active {
  fill: #81b3d2;
}

label[for="depart"] {
  font-size: 14px;
  font-weight: 700;
  width: 155px;
}

.depart {
  display: flex;
  margin-top: 32px;
  margin-left: 55px;
  margin-right: auto;
}

.depart input[type="text"] {
  position: relative;
  font-family: inherit;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  border: 1px solid #eeeeee;
  width: 326px;
  height: 32px;
  background-color: #eeeeee;
  left: -35px;
  top: -7px;
  padding-left: 10px;
}

.depart svg {
  position: absolute;
  left: 845px;
}
.depart svg:hover {
  fill: #000000;
}

.depart svg:active {
  fill: #81b3d2;
}

.amount {
  display: flex;
  margin-top: 30px;
}

label[for="amount-grownup"] {
  font-size: 14px;
  font-weight: 700;
  width: 170px;
  margin-left: 55px;
  margin-right: 0 auto;
}

label[for="amount-child"] {
  font-size: 14px;
  font-weight: 700;
  width: 155px;
  margin-left: 35px;
  margin-right: 0 auto;
}

input[type="text"].grownup {
  position: relative;
  left: -21px;
  top: -3px;
  font-family: inherit;
  font-size: 14px;
  font-weight: 700;
  width: 110px;
  border: 1px solid #eeeeee;
  height: 32px;
  background-color: #eeeeee;
  text-align: center;
}

input[type="text"].child {
  position: relative;
  left: -56px;
  top: -3px;
  font-family: inherit;
  font-size: 14px;
  font-weight: 700;
  width: 110px;
  border: 1px solid #eeeeee;
  height: 32px;
  background-color: #eeeeee;
  text-align: center;
}

.plus {
  position: absolute;
  top: 340px;
  color: #a9a9a9;
  font-size: 25px;
  font-weight: 700;
}

.plus-grownup {
  left: 620px;
}

.plus-child {
  left: 852px;
}

.plus:hover {
  color: #000000;
  cursor: pointer;
}

.plus:active {
  color: #81b3d2;
  cursor: pointer;
}

.minus {
  position: absolute;
  top: 338px;
  color: #a9a9a9;
  font-size: 25px;
  font-weight: 700;
}

.minus-grownup {
  left: 541px;
}

.minus-child {
  left: 776px;
}

.minus:hover {
  color: #000000;
  cursor: pointer;
}

.minus:active {
  color: #81b3d2;
  cursor: pointer;
}

.button {
  font-size: 21px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #81b3d2;
  border: none;
  width: 458px;
  height: 58px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 55px;
  margin-top: 50px;
}

.button:hover,
.button:focus {
  background-color: #669ec0;
}

.button:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.302);
}

.button:visited {
  background-color: #766357;
  color: rgba(255, 255, 255, 0.302);
}

.footer {
  display: flex;
  width: 1200px;
}

.visitsedona {
  font-size: 21px;
  font-weight: 700;
  margin-left: 172px;
  margin-top: 45px;
}

.footer-social {
  display: flex;
  width: 500px;
  margin-left: 255px;
  margin-top: 37px;
}

.social {
  display: flex;
  width: 45px;
  height: 45px;
  background: #81b3d2;
  vertical-align: middle;
  margin-right: 10px;
  justify-content: center;
}

.social:hover {
  background-color: #669ec0;
}

.social:active {
  background-color: #5496bd;
}

.social-icon:active {
  filter: opacity(30%);
}

.social-icon {
  margin-top: 15px;
}

.copyright {
  display: flex;
  width: 500px;
  font-size: 14px;
  justify-content: center;
  align-items: center;
  margin-left: 8px;
  margin-top: 28px;
}

.link {
  margin-left: 5px;
}

.link svg:hover {
  fill: #81b3d2;
}

.link svg:active {
  fill: #bdbbbc;
}

.form {
  display: flex;
  width: 1200px;
  list-style: none;
  color: #ffffff;
  margin-top: 27px;
}

.background-form {
  position: absolute;
  top: 56px;
  margin-left: 40px;
  z-index: -1;
}

.infrastructure b {
  margin-left: 116px;
}

.infrastructure ul {
  list-style: none;
}

.infrastructure li {
  margin-left: 75px;
}

.hotels-type b {
  margin-left: 123px;
}

.hotels-type ul {
  list-style: none;
  width: 450px;
}

.hotels-type li {
  margin-left: 86px;
}

.filter-range {
  margin-left: 40px;
}

.filter-range b {
  margin-left: 80px;
}

.checkbox input[type=checkbox] {
  display: none;
}

input[type="checkbox"] + label {
  position: relative;
  font-size: 14px;
  padding-left: 37px;
  display: block;
  margin-bottom: 23px;
  background: url("../img/checkbox-off.svg") no-repeat;
}

input[type="checkbox"]:checked + label {
  background: url("../img/checkbox-on.svg") no-repeat;
  }

input[type="checkbox"]:disabled + label {
  background: url("../img/checkbox-disabled.png") no-repeat;
  }

.show-results {
  border: 2px solid #ffffff;
  background-color: transparent;
  color: #ffffff;
  font-size: 14px;
  font-family: inherit;
  padding: 7px 34px;
  text-transform: uppercase;
  margin-left: 162px;
  margin-top: 25px;
}

.show-results:hover {
  border: 2px solid #ffffff;
  background-color: #ffffff;
  color: #000000;
}

.price-controls {
  position: relative;
  height: 32px;
  font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
  margin-left: 78px;
  margin-top: 7px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  transform: translate(-50%, -50%);
  background: #ffffff;
}

.price-controls label {
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
}

.separator {
  position: absolute;
  left: 1010px;
  top: 121px;
}

.index-line {
  position: absolute;
  top: 170px;
  left: 852px;
}

.active-line {
  margin-top: 0px;
  margin-left: 91px;
}

.filter:hover {
  width: 22px;
  height: 24px;
}

.filter-button-1 {
  position: absolute;
  top: 162px;
  left: 852px;
}

.filter-button-2 {
  position: absolute;
  top: 162px;
  left: 1104px;
}

.choice-hotels {
  width: 1200px;
  margin-left: 40px;
  background-color: #ffffff;
}

.result-search {
  display: flex;
  width: 1200px;
  border: 1px solid #e5e5e5;
  min-height: 85px;
}


.result-search h2 {
  font-size: 21px;
  margin-left: 70px;
  margin-top: 30px;
}

.sort li {
  font-size: 12px;
  display: inline-block;
  list-style: none;
  margin-left: 10px;
  margin-top: 18px;
}

.sort li:first-child {
  margin-right: 33px;
}

.sort button {
  border: none;
  outline: none;
  background: none;
  color: #b2b2b2;
  border-bottom: 1px dashed #81b3d2;
}

.sort button:hover {
  color: #81b3d2;
  cursor: pointer;
  border-bottom: none;
  }

.sort button:active {
  color: #000000;
  border-bottom: none;
}

.up-down {
  margin-left: 505px;
  margin-top: 30px;
  cursor: pointer;
  fill: #cacaca;
}

.up-down svg:hover {
  fill: #231f20;
}
.up-down svg:active {
  fill: #81b3d2;
}

.up {
  margin-right: 7px;
}

.choice {
  display: flex;
  width: 1200px;
  flex-direction: column;
}

.hotel {
  display: flex;
  border: 1px solid #e5e5e5;
  flex-direction: column;
  width: 1200px;
  height: 150px;
}

.hotel-img{
  position: absolute;
  margin-left: 70px;
  margin-top: 30px;
}

.hotel-name {
  margin-top: 25px;
  margin-bottom: 0;
}

.hotel-name a {
  font-size: 21px;
  margin-left: 240px;
  color: #000000;
}

.hotel-name a:hover {
  color: #81b3d2;
}

.hotel-name a:active {
  color: #b2b2b2;
}

.info {
  display: flex;
  font-size: 14px;
  margin-left: 238px;
  margin-top: 0;
  margin-bottom: 0;
}

.info p {
  margin-right: 20px;
  margin-top: 5px;
}

.buttons {
  margin-left: 235px;
}

.input-more {
  background-color: #81b3d2;
  color: #ffffff;
  border: 1px solid #81b3d2;
  line-height: 21px;
  font-size: 14px;
  font-weight: 700;
  width: 120px;
  height: 27px;
  padding-left: 17px;
  padding-right: 17px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.input-more:hover {
  background-color: #669ec0;
}

.input-more:active {
  background-color: #5496bd;
  color: #76abca;
}

.reserve {
  background-color: #766357;
  color: #ffffff;
  border: 1px solid #766357;
  line-height: 21px;
  font-size: 14px;
  font-weight: 700;
  width: 120px;
  height: 27px;
  padding-left: 17px;
  padding-right: 17px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.reserve:hover {
  background-color: #604e43;
}

.reserve:active {
  background-color: #503e33;
  color: #857871;
}
.stars {
  display: flex;
  position: absolute;
  list-style: none;
  margin-left: 1000px;
  margin-top: 30px;
  width: 95px;
  justify-content: flex-end;
}

.stars li {
  padding: 2px;
  text-align: left;
}

.rating {
  background-color: #f2f2f2;
  width: 110px;
  height: 27px;
  font-size: 14px;
  color: #666666;
  text-align: center;
  position: relative;
  top: -26px;
  left: 1020px;
}
